body{
    background-color: #000000;
}
.calculator{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.js-number{
    color: #fff;
    font-size: 80px;
    font-family: sans-serif;
    text-align: unset;
    margin-bottom: 0px;
    margin-left: 5px;
}
button {
    background-color: #333333;
    width: 70px;
    height: 70px;
    font-size: 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 3px 3px 3px 3px;
}
.js-operator-button{
    background-color: #fd9504;
}
.zero-button{
    width: 43%;
    text-align: left;
    padding-left: 20px;
}
.gray-operator-button{
    background-color: #a5a5a5;
    color: #000000;
}